{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    {% if is_granted("ROLE_OWNER") or is_granted("ROLE_RESIDENT") or is_granted("ROLE_ADMIN") %}
<main class="d-flex align-items-center min-vh-70 py-3 py-md-0">
    <div class="container" style="padding-bottom: 40px">
        <div class="card" style=" padding: 40px; border-radius: 10px;">
            {% form_theme form 'bootstrap_4_layout.html.twig' %}
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            <h1 class="logo text-info" style=" text-align: center">Change your Password</h1>
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }} alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {{ form_widget(form) }}


            <div class="btn-group-toggle text-center">
                <input type="submit" class=" btn btn-dark rounded " style="align-items: center" value="{{ 'change_password.submit'|trans }}"/>
                <button class="btn btn-dark rounded" type="button"
                        onclick=" location.href='{{ path('fos_user_profile_show') }}';">CANCEL
                </button>
            </div>
        </div>
    </div>


{{ form_end(form) }}
</main>
{% endif %}
{% endblock %}