{% block carousel %}
    <div class="owl-carousel-wrapper">


        <div class="box-92819">
            <div class="owl-carousel slide-one-item-alt-text">

                <div>
                    <h1 class="text-uppercase mb-3 text-center" >{% block title1 %}Welcome Home Dear <h1 class="text-uppercase mb-3 text-center text-info">{{ app.user.username }}<h1> {% endblock %}</h1>
                    {#                    <p class="mb-5">{% block msg1 %}Smarty is here to help you!{% endblock %}</p>#}
                    {#                    <p class="mb-0"><a href="#" class="btn btn-primary rounded-0">Contact Us</a></p>#}
                </div>
                {#{{ app.user.birthdate  | date('d/m/Y')}}#}
                <div>
                    <h1 class="text-uppercase mb-3 text-center">{% block title2 %}Smarty is here to help you! {% endblock %}</h1>
                    <p class="mb-5 text-center">{% block msg2 %}You can control everything with just a click {% endblock %}</p>
                    {#                    <p class="mb-0"><a href="#" class="btn btn-primary rounded-0">Contact Us</a></p>#}
                </div>

                <div>
                    <h1 class="text-uppercase mb-3 text-center">

{#                     {% if {{ app.user.compare() == 1 }}  %}#}
{#                        {% if  {{ app.user.birthdate | DateTime::diff.in. }}==0 %}#}
{#                        {% block title3 %}Happy Birthday {{ app.user.username }}{% endblock %}</h1>#}
{#                    <p class="mb-5">{% block msg3 %}Smarty House Team wishes you a happy day{% endblock %}</p>#}
{#                    #}{#                    <p class="mb-0"><a href="#" class="btn btn-primary rounded-0">Contact Us</a></p>#}
{#                    {% else %}#}
                        {% block title3 %}Enjoy the experience!{% endblock %}</h1>
                        <p class="mb-5 text-center">{% block msg3 %}SMART home SMART life{% endblock %}</p>
                        {#                    <p class="mb-0"><a href="#" class="btn btn-primary rounded-0">Contact Us</a></p>#}
{#                    {% endif %}#}
                </div>

            </div>
        </div>


        <div class="owl-carousel owl-1 ">
            <div class="ftco-cover-1" style="background-image: url('{{ asset('images/hero_1.jpg') }}');"></div>
            <div class="ftco-cover-1" style="background-image: url('{{ asset('images/hero_2.jpg') }}');"></div>
            <div class="ftco-cover-1" style="background-image: url('{{ asset('images/hero_3.jpg') }}');"></div>

        </div>
    </div>
{% endblock %}