{% block poppingOptions %}
    <div class="site-section">
        <div class="container" style="padding-top : 35px">
            <div class="row mb-5 align-items-center">
                <div class="col-md-7">
                    <br>
                    <h2 class="heading-39291 mb-0" style=" color: rosybrown">What We Do</h2>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src={{ asset('fonts/flaticon/svg/temperature.svg') }} alt="Image" class="img-fluid">
              </span>
                        <h3 class="mb-4"><a href="#">Temperature</a></h3>
                        <p>Check your house temperature
                            .</p>
                        <br>
                    </div>
                </div>{#temperature#}
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src={{ asset('fonts/flaticon/svg/lightBulb.svg') }} alt="Image" class="img-fluid">
              </span>
                        <h3 class="mb-4"><a href="#">Lightning</a></h3>
                        <p>Control the lightning
                            .</p>
                        <br>
                    </div>
                </div> {#lightning#}
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src={{ asset('fonts/flaticon/svg/camera.svg') }} alt="Image" class="img-fluid">
              </span>
                        <h3 class="mb-4"><a href="#">Camera</a></h3>
                        <p>check your house cameras
                            .</p>
                        <br>
                    </div>
                </div>{#camera#}


                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src={{ asset('fonts/flaticon/svg/statics.svg') }} alt="Image" class="img-fluid">
              </span>
                        <h3 class="mb-4"><a href="#">Statics</a></h3>
                        <p>Get all your house statics
                            .</p>
                        <br>
                    </div>
                </div>{#statics#}
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
                    <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src={{ asset('fonts/flaticon/svg/004-blueprint.svg') }} alt="Image" class="img-fluid">
              </span>
                        <h3 class="mb-4"><a href="#">History</a></h3>
                        <p>Check your house history of usage
                            .</p>
                        <br>
                    </div>
                </div> {# history#}
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src={{ asset('fonts/flaticon/svg/sensors.svg') }} alt="Image" class="img-fluid">
              </span>
                        <h3 class="mb-4"><a href="#">Security</a></h3>
                        <p>Monitor your house security
                            .</p>
                        <br>
                    </div>
                </div> {#security#}

            </div>
            <div class="row align-content-center">
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
                    <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src={{ asset('fonts/flaticon/svg/001-stairs.svg') }} alt="Image" class="img-fluid">
              </span>
                        <h3 class="mb-4"><a href="#">Rooms</a></h3>
                        <p>You can control each room separately
                            .</p>
                        <br>
                    </div>
                </div>{#rooms#}
                {% if is_granted("ROLE_OWNER") or is_granted("ROLE_ADMIN") %}
{#                    <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">#}

{#                    </div>#}{#residents#}
                    <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
                    <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src={{ asset('fonts/flaticon/svg/smartHome.svg') }} alt="Image" class="img-fluid">
              </span>
                        <h3 class="mb-4"><a href="{{ path('resident.show') }}">Residents Check</a></h3>
                        <p>Check and edit the resident's list
                            .</p>
                        <br>
                    </div>
                    </div>{#residents#}
                {% endif %} {# resident check#}
{#                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">#}
{#                    <div class="service-29193 text-center">#}
{#              <span class="img-wrap mb-5">#}
{#                <img src={{ asset('fonts/flaticon/svg/002-kitchen.svg') }} alt="Image" class="img-fluid">#}
{#              </span>#}
{#                        <h3 class="mb-4"><a href="#">Kitchen</a></h3>#}
{#                        <p>Welcome you can see all controlling options of your kitchen in here#}
{#                            .</p>#}
{#                    </div>#}
{#                </div> #}{# kitchen#}

{#                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">#}
{#                    <div class="service-29193 text-center">#}
{#              <span class="img-wrap mb-5">#}
{#                <img src={{ asset('fonts/flaticon/svg/smartHome.svg') }} alt="Image" class="img-fluid">#}
{#              </span>#}
{#                        <h3 class="mb-4"><a href="#">Residents Check</a></h3>#}
{#                        <p>Check and edit the resident's list#}
{#                            .</p>#}
{#                    </div>#}
{#                </div>#}{#residents#}


                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">

                {#            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">#}
                {#                <div class="service-29193 text-center">#}
                {#              <span class="img-wrap mb-5">#}
                {#                <img src={{ asset('fonts/flaticon/svg/004-blueprint.svg') }} alt="Image" class="img-fluid">#}
                {#              </span>#}
                {#                    <h3 class="mb-4"><a href="#">Interior Blueprint</a></h3>#}
                {#                    <p>Lorem ipsum dolor sit ame adipisicing elit. Perspiciatis incidunt distinctio voluptate#}
                {#                        .</p>#}
                {#                </div>#}
                {#            </div>#}
                {#            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">#}
                {#                <div class="service-29193 text-center">#}
                {#              <span class="img-wrap mb-5">#}
                {#                <img src={{ asset('fonts/flaticon/svg/005-dinning-table.svg') }} alt="Image" class="img-fluid">#}
                {#              </span>#}
                {#                    <h3 class="mb-4"><a href="#">Dinning Table</a></h3>#}
                {#                    <p>Lorem ipsum dolor sit ame adipisicing elit. Perspiciatis incidunt distinctio voluptate#}
                {#                        .</p>#}
                {#                </div>#}
                {#            </div>#}
                {#            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">#}
                {#                <div class="service-29193 text-center">#}
                {#              <span class="img-wrap mb-5">#}
                {#                <img src={{ asset('fonts/flaticon/svg/006-pantone.svg') }} alt="Image" class="img-fluid">#}
                {#              </span>#}
                {#                    <h3 class="mb-4"><a href="#">Modern Design</a></h3>#}
                {#                    <p>Lorem ipsum dolor sit ame adipisicing elit. Perspiciatis incidunt distinctio voluptate#}
                {#                        .</p>#}
                {#                </div>#}
                {#            </div>#}
            </div>
        </div>
    </div>
    </div><
{% endblock %}