{% block poppingOptions %}
    <div class="site-section">
        <div class="container">
            <div class="row mb-5 align-items-center">
                <div class="col-md-7">
                    <h2 class="heading-39291 mb-0" style=" color: rosybrown">What We Do</h2>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src={{ asset('fonts/flaticon/svg/blinds.svg') }} alt="Image" class="img-fluid">
              </span>
                        <h3 class="mb-4"><a href="#">Blinds</a></h3>
                        <p>Control all the house blinds by just a click
                            .</p>
                    </div>
                </div>{#blinds#}
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src={{ asset('fonts/flaticon/svg/alarm.svg') }} alt="Image" class="img-fluid">
              </span>
                        <h3 class="mb-4"><a href="#">Alarm</a></h3>
                        <p>Set your alarm
                            .</p>
                    </div>
                </div>{#alarm#}
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src={{ asset('fonts/flaticon/svg/lightBulb.svg') }} alt="Image" class="img-fluid">
              </span>
                        <h3 class="mb-4"><a href="#">Lightning</a></h3>
                        <p>Control the lightning
                            .</p>
                    </div>
                </div> {#lightning#}

                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
                    <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src={{ asset('fonts/flaticon/svg/004-blueprint.svg') }} alt="Image" class="img-fluid">
              </span>
                        <h3 class="mb-4"><a href="#">History</a></h3>
                        <p>You can check the history
                            of all devices
                            .</p>
                    </div>
                </div> {# history#}
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src={{ asset('fonts/flaticon/svg/sensors.svg') }} alt="Image" class="img-fluid">
              </span>
                        <h3 class="mb-4"><a href="#">Sensors</a></h3>
                        <p>Check your house current stat
                            .</p>
                    </div>
                </div> {#sensors#}
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src={{ asset('fonts/flaticon/svg/006-pantone.svg') }} alt="Image" class="img-fluid">
              </span>
                        <h3 class="mb-4"><a href="#">Moods</a></h3>
                        <p>You can customize your house depending on your mood
                            .</p>
                    </div>
                </div>{#moods#}
            </div>
            <div class="row">
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
                    <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src={{ asset('fonts/flaticon/svg/001-stairs.svg') }} alt="Image" class="img-fluid">
              </span>
                        <h3 class="mb-4"><a href="#">Rooms</a></h3>
                        <p>You can control each room separately
                            .</p>
                    </div>
                </div>{#Rooms#}
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src={{ asset('fonts/flaticon/svg/002-kitchen.svg') }} alt="Image" class="img-fluid">
              </span>
                        <h3 class="mb-4"><a href="#">Kitchen</a></h3>
                        <p>Welcome you can see all controlling options of your kitchen in here
                            .</p>
                    </div>
                </div> {# kitchen#}
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
                    <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src={{ asset('fonts/flaticon/svg/smartHome.svg') }} alt="Image" class="img-fluid">
              </span>
                        <h3 class="mb-4"><a href="#">Residents Check</a></h3>
                        <p>Check and edit the resident's list
                            .</p>
                    </div>
                </div>{#residents#}


                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">

                </div>{#residents#}
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
                    <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src={{ asset('fonts/flaticon/svg/smartHome.svg') }} alt="Image" class="img-fluid">
              </span>
                        <h3 class="mb-4"><a href="#">Residents Check</a></h3>
                        <p>Check and edit the resident's list
                            .</p>
                    </div>
                </div>{#residents#}
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">

                {#            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">#}
                {#                <div class="service-29193 text-center">#}
                {#              <span class="img-wrap mb-5">#}
                {#                <img src={{ asset('fonts/flaticon/svg/004-blueprint.svg') }} alt="Image" class="img-fluid">#}
                {#              </span>#}
                {#                    <h3 class="mb-4"><a href="#">Interior Blueprint</a></h3>#}
                {#                    <p>Lorem ipsum dolor sit ame adipisicing elit. Perspiciatis incidunt distinctio voluptate#}
                {#                        .</p>#}
                {#                </div>#}
                {#            </div>#}
                {#            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">#}
                {#                <div class="service-29193 text-center">#}
                {#              <span class="img-wrap mb-5">#}
                {#                <img src={{ asset('fonts/flaticon/svg/005-dinning-table.svg') }} alt="Image" class="img-fluid">#}
                {#              </span>#}
                {#                    <h3 class="mb-4"><a href="#">Dinning Table</a></h3>#}
                {#                    <p>Lorem ipsum dolor sit ame adipisicing elit. Perspiciatis incidunt distinctio voluptate#}
                {#                        .</p>#}
                {#                </div>#}
                {#            </div>#}
                {#            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">#}
                {#                <div class="service-29193 text-center">#}
                {#              <span class="img-wrap mb-5">#}
                {#                <img src={{ asset('fonts/flaticon/svg/006-pantone.svg') }} alt="Image" class="img-fluid">#}
                {#              </span>#}
                {#                    <h3 class="mb-4"><a href="#">Modern Design</a></h3>#}
                {#                    <p>Lorem ipsum dolor sit ame adipisicing elit. Perspiciatis incidunt distinctio voluptate#}
                {#                        .</p>#}
                {#                </div>#}
                {#            </div>#}
            </div>
        </div>
    </div>
{% endblock %}