{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/cam.css') }}">
{% endblock %}

{% block body %}

    {% for device in devices %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ device.path}}" alt="Device img">
            <div class="card-body">
                <h5 class="card-title">{{ device.name }}</h5>
                <p class="card-text">{{ device.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Installed In : {{ device.createdAt | date("d/m/Y") }}</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">{{ device.room }}</a>
            </div>
        </div>
    {% endfor %}
    {% for sensor in sensors %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ asset('images/consult/sensor001.jpg') }}" alt="Sensor image">
            <div class="card-body">
                <h5 class="card-title">{{ sensor.apportEnergitique }} Sensor</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ sensor.seuilDeclenchement }}</li>
                <li class="list-group-item">Detection Type : {{ sensor.typeDetection }}</li>
                <li class="list-group-item">Output Type : {{ sensor.typeSortie }}</li>
                <li class="list-group-item">Installed In : {{ sensor.createdAt | date("d/m/Y") }}</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">{{ sensor.name }}</a>
            </div>
        </div>
    {% endfor %}
    {% for actuator in actuators %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ asset('images/consult/actuator001.png') }}" alt="Actuator img">
            <div class="card-body">
                <h5 class="card-title">{{ actuator.phenomenePhysiqueUtilise }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Energie : {{ actuator.typeEnergieUtilisee }}</li>
                <li class="list-group-item"> {{ actuator.principeMisEnOeuvre }}</li>
                <li class="list-group-item">Installed In : {{ actuator.createdAt | date("d/m/Y") }}</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">{{ actuator.name }}</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}