{% extends 'base.html.twig' %}

{% block title %}Device{% endblock %}
{% block body %}
    {% if is_granted("ROLE_OWNER") or is_granted("ROLE_RESIDENT") or is_granted("ROLE_ADMIN") %}
        <main class="d-flex align-items-center min-vh-70 py-3 py-md-0">
            <div class="container" style="padding-bottom: 40px ; padding-top: 150px">
                <div class="card" style=" padding: 10px; border-radius: 10px;">
                    {% for room in rooms %}
                        <div class="room" style="box-shadow:inset 0 0 20px lightgray; border-radius:10px; padding:5px; margin:5px 0 5px 0">
                            <h1 class="text-center text-info" style="color : rosybrown;">{{room.name}}</h1>
                            <hr style="margin:0px 5px 5px 5px;height: 2px;background:#17a2b8">
                            {% for device in room.devices %}
                                <div class="device" style="background-color: #343a40; border-radius:10px; padding:5px; margin:5px">
                                    <h4 style="color:rosybrown">{{device.name}}</h4>
                                    {% for attribute in device.relation %}
                                    <hr style="margin:5px 5px 5px 5px;">
                                        <div class="attribute row">
                                                <div class="attribute-lable col" style="color:white; padding:0 0 0 5%">
                                                    {{attribute.name}}
                                                </div>     
                                                <div class="attribute-value col" style="text-align:center; color:white">
                                                    {% if attribute.type == "range" %}
                                                        {{attribute.min}}
                                                        <input type="range"  min="{{attribute.min}}" max="{{attribute.max}}" value="{{attribute.getLatestValue}}" id="attributeActuat{{attribute.id}}">
                                                        {{attribute.max}}                                                      
                                                    {% elseif attribute.type == "toggle" %}
                                                        {% if attribute.getLatestValue %}
                                                            <span id="toggleLabel{{attribute.id}}" data-onLable="{{attribute.onLabel}}" data-offLable="{{attribute.offLable}}">{{attribute.onLabel}}</span>
                                                            <input type="checkbox" checked {% if attribute.deviceType == "sensor" %}id="attributeSensor{{attribute.id}}" disabled {% else %}id="attributeActuat{{attribute.id}}" {% endif %}>
                                                        {% else %}
                                                            <span id="toggleLabel{{attribute.id}}" data-onLable="{{attribute.onLabel}}" data-offLable="{{attribute.offLable}}">{{attribute.offLable}}</span>
                                                            <input type="checkbox" {% if attribute.deviceType == "sensor" %}id="attributeSensor{{attribute.id}}" disabled {% else %}id="attributeActuat{{attribute.id}}" {% endif %}>
                                                        {% endif %}
                                                    {% else %}
                                                        <input class="border-0" type="text" style="background-color:transparent; border:none; color:white; text-align:right" readonly value="{{attribute.getLatestValue}}" id="attributeSensor{{attribute.id}}">
                                                        <span>{{attribute.unit}}</span>
                                                    {% endif %}
                                                </div>
                                                    <div class="col-3">
                                                        <button id="buttonAttr{{attribute.id}}" class="btn btn-dark">show graph</button>
                                                    </div>
                    <div id="graphAttr{{attribute.id}}" style="width:100%; height:160px; margin: 0 20px 8px 20px; border-radius:10px; background-color:white" data-visible="false" data-curveType={% if attribute.type == "toggle" %}"toggle"{% else %}"curve"{% endif %} data-path="{{ path('home_in') }}"></div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            <a class="text-right text-info" href="{{ path('home_in') }}">GO BACK HOME</a>
            </div>
        </main>
    {% endif %}
    {% block script %}
        <script src="{{ asset('js/device.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/jscharting.js') }}"></script>
    {% endblock %}
{% endblock %}
