{% trans_default_domain 'FOSUserBundle' %}
<section class="float-none">
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div>
        {{ form_errors(form) }}
    </div>
    {{ form_row(form.username) }}
    <div class="row">
        <div class="col-6">{{ form_row(form.firstname) }}</div>
        <div class="col-6">{{ form_row(form.lastname) }}</div>
    </div>


    {{ form_row(form.cin) }}
    {{ form_row(form.birthdate) }}
    {{ form_row(form.gender) }}
    {{ form_row(form.country) }}
{#    {{ form_row(form.houseId) }}#}
{#    {{ form_label(form.path,'Profile image') }}#}
{#    {{ form_widget(form.path) }}#}
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-info" value="{{ 'registration.submit'|trans }}"/>
    </div>
    {{ form_end(form) }}
</section>