<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smarty House About Us</title>
    <link rel="stylesheet" href={{ asset('css/style.css') }}>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href={{ asset('css/bootstrap.min.css') }}>
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    <link rel="stylesheet" href={{ asset('css/owl.carousel.min.css') }}>
    <link rel="stylesheet" href={{ asset('css/aos.css') }}>
    <link href="{{ asset('/node_modules/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet">
</head>
<body style="padding-top: 50px">
{% include 'fragments/navbar.html.twig' %}
{#<main class="d-flex align-items-center min-vh-70 py-3 py-md-0">#}
{#    <div class="container" style="padding-bottom: 40px">#}
{#        <div class="card" style=" padding: 40px; border-radius: 10px;">#}
{% include 'fragments/fixedTop.html.twig' %}
<br>
<br>
{% include 'fragments/slidingPics.html.twig' %}
<br>
<br>
{%  include 'fragments/movingPics.html.twig' %}
{#        </div>#}
{#    </div>#}
{#</main>#}
{% include 'fragments/footer.html.twig' %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src={{ asset('js/aos.js') }}></script> {#for carousel#}
<script src={{ asset('js/main.js') }}></script>
<script src={{ asset('js/owl.carousel.min.js') }}></script>
</body>
</html>